body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #2f2841;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 80px; 
    margin-right: 10px;
}

.navbar-logo h1 {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    text-align: center;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.column {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px; /* Espaçamento entre as colunas */
}

.column:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container{
    text-align: center;
    width: 100%;
}

button{
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    background: #2f2841;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #13122e52;
}

/*button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.button-container {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}*/

/* Adicionando media query para dispositivos com largura de tela menor ou igual a 600px */
@media (max-width: 600px) {
    .column {
        flex: 100%; /* Alterando para uma única coluna */
        margin-right: 10px;
    }
}

/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Noto Sans', sans-serif;  Utilizando a fonte 'Noto Sans' importada 
}

.main-cadastro {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhando o conteúdo no topo 
    padding: 20px;
}

.left-cadastro {
    text-align: center;
    margin-right: 20px;
}

.left-cadastro h1 {
    margin-top: 5px;
}

.left-cadastro-img {
    width: 100px;
    height: auto;
}

.right-cadastro {
    max-width: 400px;  Limitando a largura do formulário 
}

.card-cadastro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra suave 
}

.textfield {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-cadastro {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px; /* Ajustando o tamanho da fonte 
}

.btn-cadastro:hover {
    background-color: #45a049;
}
*/